@font-face {
  font-family: 'Atlane';
  src: url('Atlane.eot');
  src: url('Atlane.eot?#iefix') format('embedded-opentype'),
      url('Atlane.woff2') format('woff2'),
      url('Atlane.woff') format('woff'),
      url('Atlane.ttf') format('truetype'),
      url('Atlane.svg#Atlane') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

*
{
  font-family: "Helvetica Neue"
}

.logo
{
  font-family: 'Atlane';
  font-weight: normal;
  font-style: italic;
  font-size: 62px;
  text-decoration: none;
}

.logo-plus
{
  width: 50px;
  height: 50px;
}

.logo-text
{
  margin-top: -30px;
}

.white
{
  color: #fff;
}

/* a:hover,
a:focus {
  text-decoration: none;
} */

/* a:hover,
a:focus
{
  border-bottom: #44c3bc;
  color: #f679a3;
} */

.pink
{
  color: #f679a3;
}

.pink-bg
{
  background-color: #f679a3;
}

.turquoise
{
  color: #44c3bc;
}

.turquoise-bg
{
  background-color: #44c3bc;
}

.intro-bg
{
  background-image: url("wedding-dreamz-vN_onocQAz8-unsplash.jpg");
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap');

:root {
  --scale: 0.1;
  --space: 8vmin;
  --font-primary: 'Lato', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: hsl(0, 0%, 95%);
  background-color: hsl(5, 15%, 5%);
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  line-height: 1.6;
}



.page-title {
  text-align: center;
}

.page-title::after {
  content: '↓';
  display: block;
  font-size: 2em;
  opacity: 0;
  transform: translateY(-24px);
  animation: fadein 800ms 500ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.header,
.footer {
  display: grid;
  place-items: center;
  height: 100vh;
}

.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - var(--scale)));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - var(--scale))));
}

.section-title {
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  font-weight: bold;
  line-height: 1.125;
}

.section-staff
{
  height: 1200px;
}

.section-services
{
  padding-top: 400px;
}

.byline {
  display: block;
  font-size: 0.6em;
  margin: calc(var(--space) / 1.35) 0;
}

.content {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 55ch;
  width: calc(100% - var(--space));
  background: hsla(0, 44%, 96%, 0.9);
}

.content-welcome {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 80ch;
  width: calc(100% - var(--space));
  background: hsla(0, 44%, 96%, 0.9);
}

.content-service {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 20ch;
  width: calc(100% - var(--space));
  background: hsla(0, 44%, 96%, 0.9);
}

.content-hours {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 70ch;
  width: calc(100% - var(--space));
  background: hsla(0, 44%, 96%, 0.9);
}

.content-contact {
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 70ch;
  width: calc(100% - var(--space));
  background: hsla(0, 44%, 96%, 0.9);
}

.content > * + * {
  margin-top: 2rem;
}

.image-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


button.btn-primary
{
  background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
  border-color: #7873f5;
  border: 0px;
}

button.btn-primary:hover
{
  background: linear-gradient(40deg,#7873f5,#ff6ec4) !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
