extends default
block main.main
  section.section
    figure.image-container
      img(src='sunrise.jpg' alt='')
    article.content-welcome
      h2.section-title
        span.pink &Uuml;DV&Ouml;Z&Ouml;LJ&Uuml;K
      h3
        | Bizalmas, diszkr&eacute;t, &aacute;tl&aacute;that&oacute; &eacute;s transzparens mag&aacute;n-n&odblac;gy&oacute;gy&aacute;szati &eacute;s v&eacute;rv&eacute;teli szolg&aacute;ltat&aacute;sok Veszpr&eacute;m centrum&aacute;ban.
      br
      h3 &#x2705; Teljes k&uuml;r&udblac; n&odblac;gy&oacute;gy&aacute;szati viszg&aacute;latok
      h3 &#x2705; Terhesgondoz&aacute;s
      h3 &#x2705; V&eacute;rv&eacute;tel
      br
      h3 Forduljon hozz&aacute;nk bizalommal.
  section.section
    figure.image-container
      img(src='blessed.jpg' alt='')
    article.content-hours
      h2.section-title.pink
        | RENDEL&Eacute;SI ID&Odblac;
        h3 H&eacute;tf&odblac;, Kedd, Szerda: 13:00 - 20:00
        h3 Cs&uuml;t&ouml;rt&ouml;k: Z&aacute;rva
        h3 P&eacute;ntek: 13:00 - 20:00
        h3 Szombat, Vas&aacute;rnap: Z&aacute;rva
  section.section
    figure.image-container
      img(src='smile.jpg' alt='')
    article.content.content-contact
      h2.section-title Kapcsolat
      h3 &#x1F4CD; Bajcsy-Zsilinszky E. u. 12, Veszpr&eacute;m
      h3 &#x1F4DE; +36 70 584 8478
      h3 &#x270D;&#x1F3FB; lifelinekft@gmail.com