extends default
block main.main
  main.container
    .row.mb-2
      .col-md-4
        .card
          img.card-img-top(src='tummy.jpeg' alt='...')
          .card-body
            h5.card-title Advanced Testing &amp; Monitoring
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            p.card-text 6000 Ft
            // <a href="#" class="btn btn-primary">Go somewhere</a>
      .col-md-4
        .card
          img.card-img-top(src='results.jpeg' alt='...')
          .card-body
            h5.card-title Childbirth Preparation
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            p.card-text 15000 Ft
            // <a href="#" class="btn btn-primary">Go somewhere</a>
      .col-md-4
        .card
          img.card-img-top(src='mama.jpeg' alt='...')
          .card-body
            h5.card-title Delivery &amp; Postpartum Support
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
            p.card-text 5000 Ft
            // <a href="#" class="btn btn-primary">Go somewhere</a>
    h2.display-6.text-center.mb-4.mt-5 Teljes &aacute;rlista
    table.table.table-hover
      thead
        tr
          th.pt-4.pb-4(scope='col') #
          th.pt-4.pb-4(scope='col') Szolg&aacute;ltat&aacute;s neve
          th.pt-4.pb-4(scope='col') &Aacute;r
      tbody
        tr
          th.pt-4.pb-4(scope='row') 1
          td.pt-4.pb-4 Private consultation by appointment (30 min).
          td.pt-4.pb-4 &pound;280
        tr
          th.pt-4.pb-4(scope='row') 2
          td.pt-4.pb-4 Follow-up consultation within one month.
          td.pt-4.pb-4 &pound;220
        tr
          th.pt-4.pb-4(scope='row') 3
          td.pt-4.pb-4 Repeat contraceptive pills prescription within 12 months.
          td.pt-4.pb-4 &pound;170
        tr
          th.pt-4.pb-4(scope='row') 4
          td.pt-4.pb-4 Consultant-led ultrasound.
          td.pt-4.pb-4 &pound;300
        tr
          th.pt-4.pb-4(scope='row') 5
          td.pt-4.pb-4 Pelvic abdominal or transvaginal scan.
          td.pt-4.pb-4 &pound;300
        tr
          th.pt-4.pb-4(scope='row') 6
          td.pt-4.pb-4 Follow-up scan within 6 weeks.
          td.pt-4.pb-4 &pound;200
