extends default
block main.main
  main.container
    .row.mb-2
      .col-md-4
        .card
          img.card-img-top(src='misi.jpeg' alt='...')
          .card-body.turquoise-bg.white
            h5.white Dr. Fekete Mih&aacute;ly
            p.card-text.white
              | This is your testimonial quote, the place to feature a review from one of your past clients about you and your offerings. Encourage visitors to your site to choose you as their Gynecology and Maternity Center!
      .col-md-4
        .card
          img.card-img-top(src='kati.jpeg' alt='...')
          .card-body.pink-bg.white
            h5.white Kelemen Katalin
            p.card-text.white
              | This is your testimonial quote, the place to feature a review from one of your past clients about you and your offerings. Encourage visitors to your site to choose you as their Gynecology and Maternity Center!
      .col-md-4
        .card
          img.card-img-top(src='eszti.jpeg' alt='...')
          .card-body.pink-bg.white
            h5.white Csek&odblac; Eszter
            p.card-text.white
              | This is your testimonial quote, the place to feature a review from one of your past clients about you and your offerings. Encourage visitors to your site to choose you as their Gynecology and Maternity Center!
